<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
      <%- include('./partials/header.ejs') %>
      <%- include('./partials/nav.ejs') %>

      <br>
      <p>This is the authentication project for Winter 2020 where we must
        create an authentication system using NodeJS.
      </p>
      <%- include('./partials/footer.ejs') %>
    </body>
</html>
